/* reset */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* fine reset */


/* impostazioni generali relative ai 4 pannelli  */

.blocco {
    width: 80%;
    margin: 0 auto 30px auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/* header  */

#primo {
    height: 120px;
    /* background-color: #E579E6; */
}

#primo img {
height: 80px;
margin-bottom: 10px;
padding-right: 20px;
border-right: 2px solid grey;
}

li {
    display: inline-block;
    color: gray;
    padding-right: 10px;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: lighter;
}

li:hover {
    display: inline-block;
    color: white;
    padding-right: 10px;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: gray;
}


/* secondo pannello  */

#secondo {
    height: 500px;
    background-color: #E1D67A;
    background-image: url(immagini/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

.cover {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 15px;
}

#testo {
    width: 40%;
    height: fit-content;
    color: white;
    z-index: 2;
    position: absolute;
    font-weight: lighter;
    top: 65%;
    left: 4%;
}

#grande {
    font-size: 2em;
}


/* terzo pannelo  */

#terzo {
    height: 650px;
    background-color: #ABCFE7;
}
.interno { 
    float: left;
    border-bottom: 25px solid #0086FF;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


/* impostazioni relative ai div interni 
al terzo  pannello  */



/* riga superiore */


.riga {
    width: 100%;
    height: 20%;
    
}

#leadership {
    font-size: 2.7em;
    font-weight: bolder;
}

#leadership-sotto {
    color: gray;
    font-size: 1.4em;
}

/* tre colonne */

.colonna {
    width: 22.5%; 
    height: 80%;   
}

#centrale {
width: 55%;
border-right: 25px solid #0086FF;
border-left: 25px solid #0086FF;
}




/* quarto pannelo  */

#quarto {
    height: 80px;
    background-color: #8801FE;
}




